/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
}

header {
  background-color: #1b1b1b;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 2rem;
  color: #81c784;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #81c784;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  color: #66bb6a;
  transform: scale(1.1);
}

button {
  background-color: transparent;
  border: none;
  color: #81c784;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  color: #66bb6a;
}

.section {
  padding: 4rem 2rem;
  border-bottom: 1px solid #2e7d32;
  transition: transform 0.4s ease, background 0.4s ease;
}

.section:hover {
  transform: translateY(-5px);
  background-color: #2e7d32;
}

.highlight {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #81c784;
  transition: color 0.3s ease;
}

.section:hover .highlight {
  color: #66bb6a;
}

ul {
  padding-left: 1.5rem;
}

.social-icons {
  font-size: 2rem;
  display: flex;
  gap: 1.2rem;
  margin-top: 1rem;
}

.social-icons a {
  color: #81c784;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #66bb6a;
  transform: scale(1.2);
}

footer {
  background: #1b1b1b;
  color: #81c784;
  text-align: center;
  padding: 1rem;
}

.destaque {
  background: #2e7d32;
}

.dark-mode .destaque {
  background: #66bb6a;
}

.despedida {
  background: #1b1b1b;
  color: #81c784;
}

button#toggle-theme {
  font-size: 1.5rem;
  color: #66bb6a;
}

button#toggle-theme:hover {
  color: #81c784;
}

footer p {
  color: #81c784;
  font-size: 1rem;
  padding: 0.5rem 0;
}



